* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

* {
    text-decoration: none;
    color: inherit;
}

:root {
    --color-white: rgb(220, 210, 218);
    --color-background: #000;
    --color-dark: rgb(23, 24, 24);
    --color-green: rgb(92, 223, 92)
}

body {
    font-family: 'Ubuntu', 'sans-serif';
}